body {
    background-color: #7FDBFF;
    margin-top: 20px;
}

#buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 40px;
}

#rock-button {
    height: 20%;
    width: 10%;
}

#rock-button:hover {
    transform: scale(1.1);
}

#paper-button {
    height: 20%;
    width: 10%;
}

#paper-button:hover {
    transform: scale(1.1);
}

#scissors-button {
    height: 20%;
    width: 10%;
}

#scissors-button:hover {
    transform: scale(1.1);
}

#results-container {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

#game-log-container {
    display: flex;;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

h1 {
    margin-top: 0px;
    text-align: center;
}

#player-score {
    text-align: center;
}

#computer-score {
    text-align: center;
}

#player-score-container {
    border-style: solid;
    border-color: black;
    background-color: wheat;
    padding: 5px;
    flex-basis: 30%;
    text-align: center;
}

#computer-score-container {
    border-style: solid;
    border-color: black;
    background-color: wheat;
    padding: 5px;
    flex-basis: 30%;
    text-align: center;
}

#game-log-container p {
    font-size: 35px;
}